@import "base/colors";
@import "base/fonts";
@import "base/settings";

@import "components/nav";
@import "components/landingheader";
@import "components/copy";
@import "components/convinceyoulogin";

body {
    color: $black;
}

.robinassistantgreen-bg {
    background-color: $robinAssistantGreen;
    padding: 5rem 0;
}

@media (min-width: 1900px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1650px;
    }
}