@import "base/colors";
@import "base/fonts";
@import "base/settings";

@import "components/nav";
@import "components/landingheader";
@import "components/copy";

body {
    color: $black;
}

p {
    font-size: 13px;
}

@media (min-width: 1900px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1650px;
    }
}