.landingheader {
    min-height: 730px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("assets/images/landingheader.png");
    background-size: cover;
    background-repeat: no-repeat;

    .background-image {
        width: 10px;
    }

    .welcome-text {
        width: 50%;
    }

    .continue-button {
        display: inline-block;
        text-decoration: none;
        width: 10rem;
        padding: 0.6rem 0;
        text-align: center;
        border-radius: 14px;
        background-color: $robinAssistantGreen;
        color: $white;
        font-weight: bold;
        margin-top: 2rem;
        border: none;
    }
}